body{
background-color:#ff0066;
}
h1{
text-align:center;
color:white;
}
table, th, td{
boder:1px solid white;
padding:15px;
}
table {
Width:100%;
}
th{background-color:white;
color:white;
}
a:hover,a:active
{background-color:#7A991A
}
}

.topnav .search-container {
  float: right;
}